@import url('https://fonts.googleapis.com/css2?family=Barlow&display=swap');
body {
    font: normal, 20px, Barlow;
    font-size: 30px;
    color: white; 
    background-color: RosyBrown;
    text-align: center;
}
a{
    font-size: 25px;
    color: lightgreen;
    
}
.photokrai{
    max-width: 95%;
    text-align: center;
}

.photo{
    
    border: 10px solid white ;
    display: inline-block;
    
}

.ob{
    
    border: 10px solid white ;
}
h1{
    text-align: center;
    color: white;
    font-size: 50px;
}

.text{
    font-size: 35px;
    font-style: italic;
    
}


.podpis{
    text-align: right;
    
}
