@import url('https://fonts.googleapis.com/css2?family=Barlow&display=swap');
body {
    font: normal, 20px, Barlow;
    font-size: 30px;
    color: white; 
    background-color: RosyBrown;
    text-align: center;
    display: inline-block;
}
a{
    font-size: 25px;
    color: lightgreen;    
}
footer{
    display: inline-block;
}
main{
    display: inline-block;

}
.ico{
    display: flex; 
    margin-left: 35%;
    margin-right: 30%;
}
.photo{
    width: 25%;
    min-width: 130px;
    height: auto;
   
}

.ob{
    
    border: 10px solid white ;
}
h1{
    text-align: center;
    color: white;
    font-size: 50px;
}
.text{
    font-size: 35px;
    font-style: italic;
    
}
.text2{
    font-size: 35px;
    font-style: italic;
    text-align: right;
    margin-right: 20%;  
}
